<div id="page-border"></div>

<header>
    <a id="site-logo" routerLink=".">Kidane Mihret</a>

    <div id="sidebar-toggle" class="button-row float-right">
        <button md-mini-fab><md-icon>menu</md-icon></button>
    </div>

    <div class="button-row float-right">
        <a routerLink="." class="button-row-link">About</a>
        <a routerLink="." class="button-row-link">Teachings</a>
        <a routerLink="." class="button-row-link">Media</a>
        <a routerLink="." class="button-row-link">Resources</a>
        <a routerLink="." class="button-row-link">Contact</a>
    </div>
</header>
