<section class="control-width">
    <aside class="page-text-nav">
        <h4>Table of Contents</h4>
        <ul>
            <li><a href="#brief-history">Brief History</a></li>
            <li><a href="#the-formation">The Formation</a></li>
            <li><a href="#church-administration">Church Administration</a></li>
        </ul>
    </aside>
    <div class="page-text-content">
        <h3 id="brief-history">Brief History</h3>
        <p>For the past 17 years, Hamere Noah Kidane Mihret Ethiopian Orthodox Tewahedo Church has been providing spiritual and communal services within the Kitchener-Waterloo region for Orthodox Tewahedo Christians. Because of the changes and growth that the church enjoys from time to time, it is now one of the most prominent Orthodox Tewahedo Churches in Southern Ontario.</p>
        <p class="bottom-pad">In order for our church to improve in its ability to provide the spiritual and communal services it currently gives, with God's help, and with the Virgin's intercession, as well as the steadfast prayer and fasting of her clergy and church members, the church has acquired her own permanent place of worship, located at <a target="_blank" href="https://goo.gl/maps/QY1VrqWBim52">1677 Snyder's Rd E</a>.</p>

        <h3 id="the-formation">The Formation</h3>
        <p>The church was founded in 2001 with the strength of a few faithful Christians. They gathered at 55 Brick Wood Dr., within St. Mark Church, every Sunday for worship. Because there wasn't any priest at the time, members came together to conduct prayers and learn from each other spiritually.</p>
        <p class="bottom-pad">After much effort by members, an agreement was formed between our church and St. Mary's church in Toronto, that enabled priests to come every month or during holidays in order to conduct the holy mass for the christians within the region. Kidane Mihret got her own priest in 2005, after which members in the region were able to attend mass every week and get lots of other spiritual services. Because of the large growth of church members over the years, and the parallel growth of the clergy, so too has grown the many services that the church provides.</p>

        <h3 id="church-administration">Church Administration</h3>
        <p>Kidane Mihret is administered under the Ethiopian Orthodox Tewahedo Church, Canada Hagere Sebket, by Sebeka Gubae. This Sebeka Gubae selects seven faithful members from among the mass every two years in order to form its council.</p>
        <p>The main head of the church is the priest, and the priest is accountable to the Sebeka Gubae. The Sebeka Gubae executes spiritual and administrative tasks for the church. It also presents any cases that it wants decisions on to the mass so that there is a transparent engagement by every member while forming any important decisions for the church.</p>
        <p>Just as it is written in Nehemiah 2:20;</p>
        <p class="ptc-quote">The God of heaven Himself will prosper us; therefore we His servants will arise and build.</p>
        <p>so too is the Sebeka Gubae extending the invitation to anyone who would like to help build God's holy place in the Virgin's name.</p>
    </div>
</section>
