<section id="home-hero" class="section-container">
  <div class="control-width">
    <p>Welcome to the official website of <%=link_to root_path do %>Hamere Noah Kidane Mihret<% end %> (St. Mary) Ethiopian Orthodox Tewahedo Church.</p>
    <p>This website provides information about the essential services the church provides to the community. It also contains great resources about our faith and Ethiopian tradition. We call upon everyone to join us as we worship and glorify God according to the faith, order, and tradition of the Ethiopian Orthodox Tewahedo Church.</p>
    <p>In the name of the Father, the Son, and the Holy Spirit, One God Amen.</p>
  </div>
</section>

<!-- <section id="home-quotes" class="section-container">
  <div class="control-width">

  </div>
</section> -->
