<!-- <section id="home-banner">
    <div class="control-width">
        <p class="hb-am">ሐመረ ኖህ ኪዳነ ምሕረት የኢትዮጵያ ኦርቶዶክስ ተዋህዶ ቤተ ክርስቲያን</p>
        <p class="hb-en">Hamere Noah Kidane Mihret Ethiopian Orthodox Tewahedo Church</p>
    </div>
</section> -->
