<p>Hi <%= @user.first_name %>,</p>

<p>We received a request to reset you Kidane Mihret password. Click the link below to choose a new one:</p>

<p><%= link_to "Reset your password", edit_password_reset_url(@user.reset_token, email: @user.email) %></p>

<p>This link will expire in two hours.</p>

<p>If you did not initiate this request, please ignore this email. Your password will not change until you access the link above and create a new one.</p>

<p>If you have any trouble with your account, you can always email us at support@kidanemihret.org</p>

<p>
  Blessings always,
  <br />
  The Kidane Mihret team
</p>
