#hero {
    width: 100%;
    min-height: 600px;
    background-color: #3F51B5;
    /*background: #5E35B1;
    background: -webkit-linear-gradient(135deg, #512DA8, #673AB7);
    background: linear-gradient(135deg, #512DA8, #673AB7);*/
}
