/* Header section */

header {
    width: calc(100% - 40px);
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
    height: 70px;
    left: 20px;
    right: 20px;
}

#site-logo {
    float: left;
    display: block;
    line-height: 70px;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-size: 2rem;
    color: #6830A6;
}

#sidebar-toggle {
    display: none;
    height: 70px;
}

#sidebar-toggle button {
    margin: 15px 0 0 0;
}

.button-row {
    display: flex;
    align-items: center;
    height: 70px;
}

.button-row-link {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 1.2rem;
    color: #54536D;
    font-weight: 500;
    text-decoration: none;
    padding: 0 0 0 20px;
}

.button-row-link:hover {
    color: #878698;

    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

@media screen and (max-width: 695px) {
    #sidebar-toggle {
        display: block !important;
    }
    .button-row-link {
        display: none !important;
    }
}

/* Hero section */

#hero {
    width: 100%;
    min-height: calc(100vh - 76px);
    background-color: #F3F4FC;
    border-top: 1px solid #F3F4FC;

    /* Center vertically */
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-flex-pack: center;

    flex-direction: column;
    justify-content: center;
}

#hero-wrapper {
    width: calc(100% - 40px);
    max-width: 1300px;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 100px 0 50px 0;
}

#hero-wrapper h1 {
    text-align: center;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
    color: #212121;
    margin: 5px 0;
}

#hero-wrapper h3 {
    text-align: center;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 1.3rem;
    color: #54536D;
    margin: 0;
}

#hero-wrapper h3 a {
    text-decoration: none;
    color: #6830A6;
}

#learn-more-btn {
    text-align: center;
    background-color: #6830A6;
    border-radius: 40px;
    color: #FFF;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 5px 30px;
    margin: 20px auto;
    display: block;
}

#learn-more-btn::before {
    content: "Learn more about our church";
}

@media screen and (max-width: 360px) {
    #learn-more-btn::before {
        content: "Learn more";
    }
}

/*#hero-donate {
    background-color: #E8EAF6;
    max-width: 650px;
    max-height: 40px !important;
    padding: 0;
    border-radius: 50px;
    margin: 100px auto;
    padding: 0 30px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    color: #54536D;
    -webkit-box-shadow: 0px 5px 70px -3px rgba(197,202,233,1);
    -moz-box-shadow: 0px 5px 70px -3px rgba(197,202,233,1);
    box-shadow: 0px 5px 70px -3px rgba(197,202,233,1);
}

@media screen and (max-width: 600px) {
    #hero-donate span {
        display: none !important;
    }
    #hero-donate a {
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

#hero-donate a {
    border-radius: 50px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
}

.hero-donate-spacer {
    flex: 1 1 auto;
}*/

#hero-icons {
    max-width: 700px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

/*#hero-icons h2 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 20px;
}*/

#hero-icons p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0;
    margin: 0 auto 10px auto;
    color: #54536D;
    max-width: 500px;
}

#hero-icons a {
    font-family: 'Source Sans Pro';
    font-style: normal;
    color: #6830A6;
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
}

#about {
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;
    background-color: #FBFBFD;
}

#about img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: block;
    opacity: .5;
}
