<div id="page-border"></div>

<header>
    <a id="site-logo" routerLink=".">Kidane Mihret</a>

    <div id="sidebar-toggle" class="button-row float-right">
        <button md-mini-fab><md-icon>menu</md-icon></button>
    </div>

    <div class="button-row float-right">
        <a routerLink="." class="button-row-link">About</a>
        <a routerLink="." class="button-row-link">Teachings</a>
        <a routerLink="." class="button-row-link">Media</a>
        <a routerLink="." class="button-row-link">Resources</a>
        <a routerLink="." class="button-row-link">Contact</a>
    </div>
</header>

<!-- Hero section -->
<section id="hero">
    <div id="hero-wrapper">
        <h1>Hamere Noah Kidane Mihret</h1>
        <h3>Ethiopian Orthodox Tewahedo Church, located in <a target="_blank" href="https://goo.gl/izhSna">Kitchener, ON, Canada</a></h3>
        <button md-raised-button id="learn-more-btn"></button>

        <!-- <md-toolbar id="hero-donate">
            <span>Paying tithes/አስራት? Or simply want to donate?</span>
            <span class="hero-donate-spacer"></span>
            <a md-raised-button [color]="donate_color" routerLink=".">Pay/Donate</a>
        </md-toolbar> -->

        <div id="hero-icons">
            <!-- <h2>Icons</h2> -->
            <p>Over 50,000 EOTC icons available! <a routerLink=".">See all icons</a></p>
        </div>
    </div>
</section>

<!-- About section -->
<section id="about">
    <img src="/assets/images/virginmary.jpg">
</section>

<app-footer></app-footer>
