<header id="header">
    <div class="hdr-left">
        <div class="hdr-item">
            <%= link_to root_path, id: "site-name" do %>
                <h1>Kidanemihret</h1><h3>EOTC</h3>
            <% end %>
        </div>
        <div class="hdr-item">
            <div id="hdr-search">
                <i data-feather="search"></i>
                <input type="text" placeholder="Search the site ...">
            </div>
        </div>
    </div>
    <div class="hdr-right">

    </div>
</header>
