<ul class="hdr-list">
    <li class="hdr-item">
        <a class="hdr-link" href="/" data-toggle="tooltip" data-placement="bottom" title="Coming soon!">Icons</a>
    </li>
    <li class="hdr-item">
        <a class="hdr-link" href="/">Teachings</a>
    </li>
    <li class="hdr-item">
        <a class="hdr-link" href="/">Media</a>
    </li>
    <li class="hdr-item">
        <a class="hdr-link" href="/">Resources</a>
    </li>
    <li class="hdr-item">
        <a class="hdr-link" href="/">Help</a>
    </li>
</ul>
