<% provide(:title, 'Users') %>

<section id="users-list">
    <div class="control-width">
        <div class="control-width-inner">
            <h1>All users</h1>

            <div class="digg_pagination">
                <%= will_paginate %>
            </div>

            <ul class="users list-group">
                <%= render @users %>
            </ul>

            <div class="digg_pagination">
                <div class="page_info">
                    <%= page_entries_info @users %>
                </div>
                <%= will_paginate %>
            </div>
        </div>
    </div>
</section>
