<footer id="footer">
    <div class="control-width">
        <div class="control-width-inner">
            <small>&copy; <%= Time.current.year %> kidanemihret. All rights reserved.</small>
        </div>
    </div>
</footer>
