<% provide(:title, "Contact Us") %>

<section class="content-wrapper">
    <div id="map"></div>
</section>

<section class="content-wrapper">
    <ul class="list-group" id="contact-list-group">
        <li class="list-group-item active">Church contact information</li>
        <li class="list-group-item lgi-rest">Hamere Noah Kidane Mihret <span class="badge badge-secondary">Name</span></li>
        <li class="list-group-item lgi-rest">Ethiopian Orthodox Tewahedo Church <span class="badge badge-secondary">Affiliation</span></li>
        <li class="list-group-item lgi-rest">1677 Snyder's Road East <span class="badge badge-secondary">Street Address</span></li>
        <li class="list-group-item lgi-rest">Petersburg, Ontario <span class="badge badge-secondary">City, Province</span></li>
        <li class="list-group-item lgi-rest">Canada <span class="badge badge-secondary">Country</span></li>
        <li class="list-group-item lgi-rest">N0B 2H0 <span class="badge badge-secondary">Postal Code</span></li>
        <li class="list-group-item lgi-rest">hnkidanemihret@gmail.com <span class="badge badge-secondary">Email</span></li>
        <li class="list-group-item lgi-rest">(226) 600-2760 <span class="badge badge-secondary">Phone Number</span></li>
        <li class="list-group-item lgi-rest">42028 <span class="badge badge-secondary">P.O.Box</span></li>
    </ul>
</section>
