<% provide(:title, "Contact Us") %>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPnNmfhIj-Bj92JhaJHmcOiBJhnC1zhZA" data-turbolinks-eval="false"></script>
<script type="text/javascript">
function init(){var e={zoom:13,scrollwheel:!1,center:new google.maps.LatLng(43.413449,-80.604672),styles:[{featureType:"administrative",elementType:"all",stylers:[{saturation:"-100"}]},{featureType:"administrative.province",elementType:"all",stylers:[{visibility:"off"}]},{featureType:"landscape",elementType:"all",stylers:[{saturation:-100},{lightness:65},{visibility:"on"}]},{featureType:"poi",elementType:"all",stylers:[{saturation:-100},{lightness:"50"},{visibility:"simplified"}]},{featureType:"road",elementType:"all",stylers:[{saturation:"-100"}]},{featureType:"road.highway",elementType:"all",stylers:[{visibility:"simplified"}]},{featureType:"road.arterial",elementType:"all",stylers:[{lightness:"30"}]},{featureType:"road.local",elementType:"all",stylers:[{lightness:"40"}]},{featureType:"transit",elementType:"all",stylers:[{saturation:-100},{visibility:"simplified"}]},{featureType:"water",elementType:"geometry",stylers:[{hue:"#ffff00"},{lightness:-25},{saturation:-97}]},{featureType:"water",elementType:"labels",stylers:[{lightness:-25},{saturation:-100}]}]},t=document.getElementById("map"),l=new google.maps.Map(t,e);new google.maps.Marker({position:new google.maps.LatLng(43.413449,-80.604672),map:l,title:"Kidane Mihret -- 1677 Snyder's Rd E, Petersburg, ON N0B 2H0"})}google.maps.event.addDomListener(window,"turbolinks:load",init);
</script>

<section class="content-wrapper">
    <div id="map"></div>
</section>
