<% provide(:title, 'Contact') %>

<div class="control-width about-table">
    <div class="control-width-inner">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="tt-title">Name</td>
                    <td>Hamere Noah Kidane Mihret</td>
                </tr>
                <tr>
                    <td class="tt-title">Affiliation</td>
                    <td>Ethiopian Orthodox Tewahedo Church</td>
                </tr>
                <tr>
                    <td class="tt-title">Street address</td>
                    <td>1677 Snyder's Road East</td>
                </tr>
                <tr>
                    <td class="tt-title">City, Province</td>
                    <td>Petersburg, Ontario</td>
                </tr>
                <tr>
                    <td class="tt-title">Country</td>
                    <td>Canada</td>
                </tr>
                <tr>
                    <td class="tt-title">Postal code</td>
                    <td>N0B 2H0</td>
                </tr>
                <tr>
                    <td class="tt-title">Email</td>
                    <td>hnkidanemihret@gmail.com</td>
                </tr>
                <tr>
                    <td class="tt-title">Phone number</td>
                    <td>(226) 600-2760</td>
                </tr>
                <tr>
                    <td class="tt-title">P.O.Box</td>
                    <td>42028</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
