<section id="hero">
    <div class="control-width">
        <div class="control-width-inner">
            <h1>Hamere noah Kidane<br>mihret.</h1>
            <h3>Ethiopian orthodox Tewahedo church.</h3>
            <%= link_to signup_path, id: "hero-signup-btn", class: "custom-btn" do %>Create account <i data-feather="arrow-right"></i><% end %>
        </div>
    </div>
</section>

<section id="home-intro">
    <div class="control-width">
        <div class="control-width-inner">
            <h1>Welcome.</h1>
            <p class="hero-para">In the name of the Father, the Son, and the Holy Spirit, One God Amen. Welcome to the official website of <%= link_to root_path do %>Hamere Noah Kidane Mihret<% end %> (St. Mary) Ethiopian Orthodox Tewahedo Church.</p>
            <%= image_tag('virgin-mary.jpg') %>
            <p class="hero-para">This website provides information about the essential services the church provides to the community. It also contains great resources about our faith and Ethiopian tradition.</p>
            <p class="hero-para">We call upon everyone to join us as we worship and glorify God according to the faith, order and tradition of the Ethiopian Orthodox Tewahedo Church.</p>
            <%= link_to about_path, id: "home-intro-btn", class: "custom-btn" do %>Learn more <i data-feather="arrow-right"></i><% end %>
        </div>
    </div>
</section>
