<section id="hero">
    <div class="control-width">
        <div class="hero-container">
            <h1>Hamere noah Kidane<br>mihret.</h1>
            <h3>Ethiopian orthodox Tewahedo church.</h3>
            <%= link_to signup_path, id: "hero-signup-btn" do %>Create account <i data-feather="arrow-right"></i><% end %>
        </div>
    </div>

</section>
