<section id="home-hero">
    <div class="hn-wrapper">
        <h1>Hamere Noah Kidane Mihret.</h1>
        <h3>Ethiopian Orthodox Tewahedo Church.</h3>
        <div id="home-hero-search">
            <i data-feather="search"></i>
            <input type="text" placeholder="Look up a bible verse ..." autofocus>
        </div>
        <div id="home-hero-btn">
            <p>You can <%= link_to root_path do %>log in<% end %> to the site, or <%= link_to root_path do %>sign up<% end %> to create an account.</p>
        </div>
    </div>
</section>

<section id="home-welcome">

</section>
