<section id="site-quotes">
    <div class="content-wrapper">
        <div id="quotes-carousel-indicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#quotes-carousel-indicators" data-slide-to="0" class="active"></li>
                <li data-target="#quotes-carousel-indicators" data-slide-to="1"></li>
                <li data-target="#quotes-carousel-indicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <blockquote class="blockquote mb-0">
                        <p>Go ye therefore, and teach all nations, baptizing them in the name of the Father, and of the Son, and of the Holy Spirit.</p>
                        <footer class="blockquote-footer">From the Holy Book of <cite title="Book Title">Matthew 28:19</cite></footer>
                    </blockquote>
                </div>
                <div class="carousel-item">
                    <blockquote class="blockquote mb-0">
                        <p>And Jesus said to them, "I am the bread of life. He who comes to Me shall never hunger, and he who believes in Me shall never thirst."</p>
                        <footer class="blockquote-footer">From the Holy Book of <cite title="Book Title">John 6:35</cite></footer>
                    </blockquote>
                </div>
                <div class="carousel-item">
                    <blockquote class="blockquote mb-0">
                        <p>One Lord, one faith, one baptism, One God and Father of all, who is above all, and through all, and in you all.</p>
                        <footer class="blockquote-footer">From the Holy Book of <cite title="Book Title">Ephesians 4:5-6</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>
