<section id="temp">
    <h1>Kidane Mihret</h1>
    <h2>1677 Snyder's Road East, Petersburg, ON, Canada</h2>

    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Matthew 28:19</h3>
                <p class="quote">"Go ye therefore, and teach all nations, baptizing them in the name of the Father, and of the Son, and of the Holy Spirit."</p>
            </div>
            <div class="col">
                <h3>About the church</h3>
                <p>From its founding in 2001, for the past <script>document.write(new Date().getFullYear() - 2001)</script> years, <strong>Hamere Noah Kidane Mihret</strong> Ethiopian Orthodox Tewahedo Church has been providing spiritual and communal services within the Kitchener-Waterloo region for Orthodox Tewahedo Christians.</p>
                <p>Because of the changes and growth that the church enjoys from time to time, it is now one of the most prominent Orthodox Tewahedo Churches in Southern Ontario.</p>
                <p>You can contact the church by email at <strong>hnkidanemihret@gmail.com</strong>, or by phone at <strong>226-600-2760</strong>, or via social media on <a target="_blank" rel="Facebook link" href="https://www.facebook.com/hnkidanemihret/">facebook</a> and <a target="_blank" rel="Twitter link" href="https://twitter.com/hnkidanemihret">twitter</a>.</p>
            </div>
        </div>
    </div>

    <footer>
        &copy; <script>document.write(new Date().getFullYear())</script> All rights reserved <span class="bull">&bull;</span> <script>document.write(new Date())</script>
    </footer>
</section>
