/* global colors used */

// white shades
$white: #FFF;
$white-shade1: #FEFEFE;
$white-shade2: #F5F5F5;
$white-shade3: #E5E5E5;

// grey shades
$grey-shade1: #707880;
$grey-shade2: #9E9E9E;
$grey-shade3: #5D5D63;

// black shades
$black: #000;
$black-shade1: #455A64;

// blue shades
$blue: #3F51B5;
$blue-shade1: #FBFBFD;
$blue-shade2: #22222A;
$blue-shade3: #1B1B21;

// misc
$green: #00BFA5;
$violet: #9E54BD;
$yellow: #FCD04B;
