$white: #FEFEFE;
$white-ish: #F5F5F5;
$green: #00BFA5;
$grey: #9E9E9E;
$blue: #3F51B5;

$dark: #455A64;
$black: #424242;

// ============================================

$white-blue: #F5F6F8;
$blue-ish: #F1F3F5;
$light-blue: #E8EAF6;

$white-grey: #F7F7F7;
$light-grey: #E0E0E0;
$lighter-grey: #EEEEEE;
