$white: #FFFFFF;
$white-ish: #FDFDFD;

$white-blue: #F5F6F8;
$blue-ish: #F1F3F5;

$blue: #3F51B5;
$light-blue: #E8EAF6;

$white-grey: #F7F7F7;
$light-grey: #E0E0E0;
$lighter-grey: #EEEEEE;
$grey: #9E9E9E;
$dark: #455A64;
$black: #424242;
