/* global colors used */

$green: #00BFA5;
$grey: #9E9E9E;
$blue: #3F51B5;
$light-blue: #FBFBFD;
$black: #455A64;
$violet: #9E54BD;

/* white shades */
$white-shade1: #FFFFFF;
$white-shade2: #FEFEFE;
$white-shade3: #F5F5F5;

/* yellow shades */
$yellow-shade1: #FCD04B;
