/* global colors used */

// white shades
$white: #FFF;
$white-shade1: #FEFEFE;
$white-shade2: #F5F5F5;
$white-shade3: #E5E5E5;

// black shades
$black: #000;
$black-shade1: #455A64;

// misc
$green: #00BFA5;
$grey: #9E9E9E;
$blue: #3F51B5;
$light-blue: #FBFBFD;
$violet: #9E54BD;

/* yellow shades */
$yellow-shade1: #FCD04B;
