@import "bootstrap";
@import "settings";

/* fonts */

// font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

// font-family: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

/* universal */

body {
    width: 100%;
    min-height: calc(100vh + 1px);
    margin: 0;
    // padding: $header-height 0 0 0;
    position: relative;
    // background-color: $secondary-color;
}

.control-width {
    width: calc(100% - 40px);
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

/* header */
