@import "bootstrap";
@import "settings";

/* universal */

:root {
    font-size: 62.5%;
}

body {
    width: 100%;
    margin: 0;
    padding: $header-height 0 0 0;
    position: relative;
    font-size: 1.6rem;
    background-color: lighten($secondary-color, 1%);
}

.control-width {
    width: calc(100% - 4rem);
    max-width: $control-width;
    margin: 0 auto;
    padding: 0;
}

/* header */

#header {
    width: 100%;
    height: $header-height;
    position: fixed;
    display: flex;
    z-index: 1000;
    top: 0;
    left: 0;
    padding: 0 2rem;
    background-color: lighten($secondary-color, 3%);
    border-bottom: .1rem solid darken($secondary-color, 3%);
    font-family: 'PT Sans', sans-serif;
    #site-logo {
        height: $header-height;
        #site-name {
            font-size: 2.2rem;
            font-weight: bold;
            line-height: $header-height;
            display: block;
            color: $primary-color;
            font-family: 'Alegreya Sans', sans-serif;
            &:hover {
                text-decoration: none;
            }
        }
    }
    $search-bar-height: 3.8rem;
    #site-search {
        flex: 1 1 auto;
        padding: 0 2.5rem 0 3rem;
        #search-bar-group {
            width: 100%;
            height: $search-bar-height;
            background-color: lighten($primary-color, 60%);
            border-radius: .5rem;
            display: block;
            margin-top: 1.1rem;
            overflow: hidden;
            button {
                height: $search-bar-height;
                border: none;
                outline: none;
                background-color: transparent;
                width: 4rem;
                .feather-icon {
                    margin-top: -.5rem;
                    color: lighten($primary-color, 20%);
                }
            }
            input {
                height: $search-bar-height;
                border: none;
                outline: none;
                width: calc(100% - 4rem);
                background-color: transparent;
                padding-right: 2rem;
            }
        }
    }
    #site-links {
        ul {
            margin: 0;
            padding: 0;
            li {
                margin: inherit;
                padding: inherit;
                display: inline-block;
                a {
                    display: block;
                    margin: 0 2.5rem;
                    line-height: $header-height;
                    color: $primary-color;
                    font-size: 1.5rem;
                    font-weight: 700;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            #hdr-resources-link, #hdr-profile-link {
                .feather-icon {
                    padding: .3rem;
                }
                .dropdown-menu {
                    padding: 1.5rem 0;
                    min-width: 20rem;
                    border: none;
                    background-color: lighten($secondary-color, 3%);
                    -webkit-box-shadow: 0px 5px 25px 8px rgba(243,244,247,1);
                    -moz-box-shadow: 0px 5px 25px 8px rgba(243,244,247,1);
                    box-shadow: 0px 5px 25px 8px rgba(243,244,247,1);
                }
                .dropdown-item {
                    margin: 0;
                    line-height: 3rem;
                    &:hover, &:focus {
                        text-decoration: none;
                        background-color: lighten($secondary-color, 1%);
                    }
                }
                img {
                    width: 4rem;
                    height: auto;
                    border-radius: 50rem;
                    border: .1rem solid $accent;
                    padding: .2rem;
                }
            }
            #hdr-profile-link {
                background-color: $secondary-color;
            }
            #hdr-login-link a {
                color: $accent;
            }
            #hdr-signup-link a {
                padding: .3rem 1.5rem 0 1.5rem;
                line-height: normal;
                border: .2rem solid $accent;
                height: 3rem;
                color: $accent;
                margin: .9rem 0 0 0;
                border-radius: .3rem;
            }
            #hdr-sidebar-toggle {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    #site-links {
        ul li {
            display: none !important;
        }
        #hdr-sidebar-toggle {
            display: inline-block !important;
        }
    }
}

@media screen and (max-width: 500px) {
    #site-search {
        visibility: hidden;
    }
}

/* page content wrapper */

.page-content-wrapper {
    min-height: calc(100vh - 35rem);
}

/* footer */

#footer {
    width: 100%;
    background-color: lighten($secondary-color, 3%);
    border-top: .1rem solid darken($secondary-color, 3%);
    .ft-links {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 5rem 0;
    }
    .ft-link-group {
        ul {
            margin: 0;
            padding: 0;
            li {
                display: block;
                margin: 0;
                padding: 0;
                a {
                    display: block;
                    font-size: 1.4rem;
                    font-family: 'PT Sans', sans-serif;
                    font-weight: 700;
                    color: lighten($primary-color, 20%);
                    margin-bottom: .2rem;
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
        form {
            select {
                width: 20rem;
                height: 3.5rem;
                cursor: pointer;
                font-size: 1.4rem;
                font-family: 'PT Sans', sans-serif;
                font-weight: 700;
                color: lighten($primary-color, 10%);
            }
            option {
                cursor: pointer;
                font-weight: 700;
            }
        }
        .ft-icons-hdr {
            margin-top: 5rem;
            font-size: 1.4rem;
            font-family: 'PT Sans', sans-serif;
            font-weight: 700;
            color: lighten($primary-color, 20%);
        }
        .ft-icons-links {
            margin-left: -1rem;
            a {
                padding: .5rem;
                color: lighten($primary-color, 10%);
                .feather-icon {
                    padding: .3rem;
                }
                &:hover {
                    color: $accent;
                }
            }
        }
    }
    .footer-small {
        width: 100%;
        background-color: lighten($secondary-color, 3%);
        border-top: .1rem solid darken($secondary-color, 3%);
        text-align: center;
        padding: 1.5rem 2rem;
        small {
            font-family: 'PT Sans', sans-serif;
            color: lighten($primary-color, 20%);
            font-weight: 700;
        }
    }
}

@media screen and (max-width: 600px) {
    .ft-links {
        flex-direction: column !important;
    }
    .ft-link-group {
        form {
            margin-top: 3rem;
        }
        .ft-icons-hdr {
            margin-top: 3rem !important;
        }
    }
}

/* Log in & sign up forms */

.auth-form {
    width: calc(100% - 4rem);
    max-width: 60rem;
    margin: 5rem auto;
    padding: 3rem;
    border: .1rem solid darken($secondary-color, 3%);
    border-radius: .5rem;
    background-color: lighten($secondary-color, 3%);
    h1 {
        font-family: 'Poppins', sans-serif;
        color: $accent;
        font-weight: 900;
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }
    p {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1.3rem;
        color: $primary-color;
        a {
            color: $accent;
        }
    }
    form {
        .af-label {
            font-family: 'Poppins', sans-serif;
            color: $primary-color;
            font-weight: 500;
            font-size: 1.1rem;
            text-transform: uppercase;
            letter-spacing: .1rem;
        }
        .af-input {
            font-size: 1.7rem;
            height: 3.5rem;
            margin-bottom: 1rem;
            font-family: 'Poppins', sans-serif;
            border: .1rem solid darken($secondary-color, 3%);
            background-color: lighten($secondary-color, 1%);
        }
        .af-container {
            margin-top: 3rem;
            display: block;
            height: 2rem;
        }
        .custom-checkbox {
            float: left;
            font-size: 1.3rem;
            font-weight: 600;
            text-transform: none;
            color: $primary-color;
            font-family: 'Poppins', sans-serif;
        }
        #af-forgot-pass {
            float: right;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 1.3rem;
            color: $primary-color;
            font-style: italic;

        }
        #af-submit {
            display: block;
            background-color: $accent;
            width: 100%;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            font-size: 1.5rem;
            margin: 3rem 0;
        }
    }
}

/* Alerts */

.alert-tag-container {
    width: calc(100% - 4rem);
    max-width: 60rem;
    margin: 1rem auto;
}

.alert-dismissible {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    button {
        height: 4rem;
    }
}

#users-errors {
    margin-bottom: 3rem;
    ul {
        padding: 0;
        li {
            display: block;
            left: 0;
            .fas {
                margin-right: 1rem;
            }
        }
    }
}
