@import "bootstrap";
@import "colors";
@import "fonts";

/* Universal */

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $white;
    font-size: 62.5%;
}

a, button, .feather-icons {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	&:hover {
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
}

/* Header */

$header-height: 70px;

#header {
    width: 100%;
    height: $header-height;
    margin: 0;
    padding: 0 20px;
    background-color: $white;
    border-bottom: 1px solid $white-ish;

    font-family: 'Halant', serif;
    color: $black;
    #hdr-wrapper {
        width: 100%;
        max-width: 1100px;
        height: $header-height;
        margin: 0 auto;
        padding: 0;
        #logo {
            float: left;
            line-height: $header-height;
            font-size: 1.3rem;
            color: $black;
            font-weight: 600;
            text-decoration: none;
        }
        .header-toggle {
            float: right;
            display: none;
            cursor: pointer;
            line-height: $header-height;
            height: $header-height;
            color: $black;
            .feather-icons {
                height: $header-height;
            }
            &:focus {
                -webkit-transition: anim 5s ease-out;
            }
        }
        #hdr-ul-left {
            float: left;
            margin: 0 0 0 30px;
            padding: 0;
            height: $header-height;
            li {
                margin: 0;
                padding: 0;
                display: inline-block;
                a {
                    display: block;
                    padding: 0 20px;
                    line-height: $header-height;
                    font-size: 1rem;
                    color: $black;
                    font-weight: 400;
                    text-decoration: none;
                    &:hover {
                        color: $green;
                    }
                }
            }
        }
        #hdr-ul-right {
            float: right;
            height: $header-height;
            li {
                margin: 0;
                padding: 0;
                display: inline-block;
                height: inherit;
                a {
                    display: block;
                    padding: 0 10px;
                    line-height: $header-height;
                    height: $header-height;
                    font-size: 1rem;
                    color: $black;
                    .feather-icons {
                        height: $header-height;
                        padding: 2px;
                    }
                    &:hover {
                        color: $green;
                    }
                }
                #hdr-store-link {
                    border-left: 1px solid #F5F5F5;
                    border-right: 1px solid #F5F5F5;
                    margin: 0 10px;
                    padding: 0 20px;
                }
                #hdr-login-link {
                    padding: 0 0 0 10px;
                }
            }
        }
    }
}

#collapse-nav {
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    background-color: $white;
    border-bottom: 1px solid $white-ish;
    ul {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        padding: 0;
        li {
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
            a {
                display: block;
                line-height: 50px;
                color: $black;
                font-size: 1rem;
                text-decoration: none;
                font-family: 'Halant', serif;
                &:hover {
                    color: $green;
                }
            }
        }
        .collapse-nav-media {
            text-align: right;
            a {
                display: inline-block;
                padding: 0 10px;
                .feather-icons {
                    padding: 2px;
                }
            }
        }
    }
}

@media screen and (max-width: 975px) {
    #hdr-ul-right {
        display: none;
    }
    .header-toggle {
        display: block !important;
    }
}

@media screen and (max-width: 790px) {
    #hdr-ul-left {
        display: none;
    }
}
