@import "bootstrap";
@import "colors";
@import "fonts";

/* Universal */

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $white;
    font-size: 62.5%;
}

.page-container {
    min-height: calc(100vh - 250px);
}

.content-wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

a, button,
.feather-icons {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	&:hover {
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
}

/* Header */

$header-height: 70px;

#header {
    width: 100%;
    height: $header-height;
    margin: 0;
    padding: 0 20px;
    background-color: $white;
    border-bottom: 1px solid $white-ish;
    font-family: 'Source Sans Pro', sans-serif;
    color: $black;
    #logo {
        float: left;
        line-height: $header-height;
        font-size: 1rem;
        color: $black;
        font-weight: 600;
        text-decoration: none;
        font-family: 'PT Serif', serif;
    }
    .header-toggle {
        float: right;
        display: none;
        cursor: pointer;
        line-height: $header-height;
        height: $header-height;
        color: $black;
        .feather-icons {
            height: $header-height;
        }
        &:focus {
            -webkit-transition: anim 5s ease-out;
        }
    }
    #hdr-ul-left {
        float: left;
        margin: 0 0 0 30px;
        padding: 0;
        height: $header-height;
        li {
            margin: 0;
            padding: 0;
            display: inline-block;
            a {
                display: block;
                padding: 0 20px;
                line-height: $header-height;
                font-size: .95rem;
                color: $black;
                text-decoration: none;
                &:hover {
                    color: $green;
                }
            }
        }
    }
    #hdr-ul-right {
        float: right;
        height: $header-height;
        li {
            margin: 0;
            padding: 0;
            display: inline-block;
            height: inherit;
            a {
                display: block;
                padding: 0 10px;
                line-height: $header-height;
                height: $header-height;
                font-size: 1rem;
                color: $black;
                .feather-icons {
                    height: $header-height;
                    padding: 4px;
                }
                &:hover {
                    color: $green;
                }
            }
            #hdr-store-link {
                border-left: 1px solid #F5F5F5;
                border-right: 1px solid #F5F5F5;
                margin: 0 10px;
                padding: 0 20px;
            }
            #hdr-login-link {
                padding: 0 0 0 10px;
            }
        }
    }
}

#collapse-nav {
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    background-color: $white;
    border-bottom: 1px solid $white-ish;
    ul {
        li {
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
            a {
                display: block;
                line-height: 50px;
                color: $black;
                font-size: .95rem;
                text-decoration: none;
                font-family: 'Source Sans Pro', sans-serif;
                &:hover {
                    color: $green;
                }
            }
        }
        .collapse-nav-media {
            text-align: right;
            a {
                display: inline-block;
                padding: 0 10px;
                .feather-icons {
                    padding: 2px;
                }
            }
        }
    }
}

@media screen and (max-width: 985px) {
    #hdr-ul-right {
        display: none;
    }
    .header-toggle {
        display: block !important;
    }
}

@media screen and (max-width: 790px) {
    #hdr-ul-left {
        display: none;
    }
}

/* Footer */

#footer {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #343A40;
    .content-wrapper {
        padding: 50px 20px;
        .row {
            width: 100%;
            margin: 0;
            padding: 0;
            .footer-col-left {
                margin: 0;
                padding: 0;
                h1 {
                    font-family: 'PT Serif', serif;
                    font-size: .95rem;
                    font-weight: 600;
                    color: $light-grey;
                }
                .btn-group {
                    margin: 10px 0 30px 0;
                    font-family: 'Source Sans Pro', sans-serif;
                    button {
                        font-weight: 400;
                        font-size: .9rem;
                        color: #C5C8C6;
                    }
                }
            }
            .footer-col-mid {
                margin: 0;
                padding: 0;
                h1 {
                    font-family: 'PT Serif', serif;
                    font-size: .95rem;
                    font-weight: 600;
                    color: $light-grey;
                }
                ul {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    vertical-align: top;
                    margin-right: 50px;
                    li {
                        display: block;
                        margin: 0;
                        padding: 0;
                        a {
                            display: block;
                            font-family: 'Source Sans Pro', sans-serif;
                            font-size: .9rem;
                            font-weight: 400;
                            color: #C5C8C6;
                        }
                    }
                }
            }
            .footer-col-right {
                margin: 0;
                padding: 20px 0 0 0;
                font-family: 'Source Sans Pro', sans-serif;
                color: #C5C8C6;
                font-size: 1rem;
                font-weight: 500;
                text-align: center;
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        margin: 0;
                        padding: 0;
                        display: inline-block;
                        a {
                            display: block;
                            color: $light-grey;
                            margin-right: 10px;
                            .feather-icons {
                                height: 30px;
                                width: auto;
                                padding: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}
