@import "bootstrap";
@import "settings";

// Universal

body {
    width: 100%;
    min-height: 150vh;
    margin: 0;
    font-size: 62.5%;
    background-color: $light-blue-grey;
    padding: 0;
}

a, a:hover, button, button:hover {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.sc-divide {
    width: 100%;
    max-width: 1500px;
    height: 5px;
    background-color: #ECEFF1;
    opacity: .9;
    margin: 0 auto;
}

// Header

header {
    width: 100%;
    max-width: $max-width;
    height: $header-height;
    margin: 0 auto;
    padding: 0 40px;
    background-color: $white-ish;
    .logo {
        float: left;
        line-height: $header-height;
        text-decoration: none;
        margin-right: 30px;
        padding: 0 10px;
        font-family: 'Nunito', sans-serif;
        font-size: 1.6rem;
        font-weight: 700;
        color: $black;
        img {
            height: $header-height - 40px;
            width: auto;
            margin-top: -5px;
            margin-right: 10px;
        }
    }
    .hdr-toggle {
        float: right;
        display: none;
        width: 70px;
        height: $header-height;
        padding: 26px 0 0 0;
        cursor: pointer;
        .icon-bar {
            display: block;
            width: 30px;
            height: 1px;
            margin: 0 auto 7px auto;
            border-top: 2px solid $black;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        #first-icon-bar.toggled {
            -ms-transform: translateY(9px) translateX(0px) rotate(45deg);
            -webkit-transform: translateY(9px) translateX(0px) rotate(45deg);
            transform: translateY(9px) translateX(0px) rotate(45deg);
        }
        #second-icon-bar.toggled {
            display: none;
            margin: 0 auto;
        }
        #third-icon-bar.toggled {
            -ms-transform: translateY(0px) translateX(0px) rotate(-45deg);
            -webkit-transform: translateY(0px) translateX(0px) rotate(-45deg);
            transform: translateY(0px) translateX(0px) rotate(-45deg);
        }
    }
    ul, li {
        margin: 0;
        padding: 0;
    }
    .fleft {
        float: left;
        li {
            display: inline-block;
            a {
                display: block;
                line-height: $header-height - 10px;
                font-family: 'Nunito', sans-serif;
                font-size: 1rem;
                font-weight: 700;
                color: $black;
                padding: 0 20px;
                text-decoration: none;
                margin-top: 5px;
                &:hover {
                    color: $blue;
                }
            }
        }
    }
    .fright {
        float: right;
        .hicon {
            display: inline-block;
            a {
                display: block;
                font-size: 1.5rem;
                padding: 0 10px;
                line-height: $header-height - 10px;
                color: $black;
                text-decoration: none;
                margin-top: 10px;
                &:hover {
                    color: $blue;
                }
            }
        }
        .bicon {
            display: inline-block;
            vertical-align: top;
            margin-left: 20px;
            a {
                border: 1px solid $light-grey;
                display: block;
                line-height: $header-height - 30px;
                color: $black;
                text-decoration: none;
                font-family: 'Nunito', sans-serif;
                font-size: 1rem;
                font-weight: 700;
                padding: 0 20px;
                margin-top: 14px;
                border-radius: 5px;
                &:hover {
                    color: $blue;
                    border: 1px solid $blue;
                }
            }
        }
    }
}

#collapseHeader {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 50px;
    background-color: $white-ish;
    border-bottom: 1px solid $white-ish;
    ul {
        margin: 0;
        padding: 10px 0;
        li {
            margin: 0;
            padding: 0;
            display: block;
            a {
                display: block;
                line-height: 40px;
                padding: 0;
                text-decoration: none;
                font-family: 'Nunito', sans-serif;
                font-size: 1rem;
                font-weight: 700;
                color: $black;
                &:hover {
                    background-color: $white-grey;
                }
            }
        }
    }
    .smedia {
        padding: 15px 0;
        text-align: right;
        border-top: 1px solid $white-grey;
        a {
            color: $black;
            text-decoration: none;
            margin-left: 10px;
            &:hover {
                color: $blue;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .fright {
        display: none;
    }
    .hdr-toggle {
        display: block !important;
    }
}

@media screen and (max-width: 770px) {
    .fleft {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    #logo-name {
        display: none;
    }
}
