// Sizing =======================================

$header-height: 14rem;
$footer-height: 50rem;
$control-width: 100rem;

// Colors =======================================

$primary-color: #7F7BFB;
$secondary-color: #9896FA;
$third-color: #D9D8F1;
$accent: #6639B7;
$white: #F4F5F9;
$black: #212121;
$green: #2DDE98;
$red: #FFAAAA;

// Fonts ========================================

// font-family: 'Source Sans Pro', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');
