/* fonts */

// font-family: 'Alegreya Sans', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300');

// font-family: 'PT Sans', sans-serif;
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic');

// font-family: 'Lato', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');

// font-family: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

/* sizing */

$header-height: 6rem;
$footer-height: 50rem;
$control-width: 100rem;

/* colors */

$primary-color: #52565E;
$secondary-color: #F3F4F7;
$accent: #6639B7;
$green: #2DDE98;
$white: #FFFFFF;
$red: #ffaaaa;
