/* fonts */

// font-family: 'Alegreya Sans', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300');

// font-family: 'PT Sans', sans-serif;
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic');

/* sizing */

$header-height: 6rem;
$footer-height: 50rem;
$control-width: 100rem;

/* colors */

$primary-color: #52565E;
$secondary-color: #F3F4F7;
$green: #2DDE98;
