@import "colors";

/* home */

.section-separator-1 {
    width: 100%;
    max-width: 300px;
    border: 1px solid #edeefb;
}

.custom-btn {
    width: 170px;
    line-height: 40px;
    padding-left: 23px;
    border-radius: 100px;
    font-family: 'PT Sans', sans-serif;
    font-size: .9rem;
    font-weight: 700;
    margin-top: 60px;
    display: block;
    &:hover {
        text-decoration: none;
    }
    .feather-icon {
        float: right;
        width: 34px;
        height: 34px;
        margin-top: 3px;
        margin-right: 3px;
        border-radius: 100px;
        padding: 7px;
        font-weight: bold;
    }
}

#hero {
    width: 100%;
    background: $shade7;
    color: $white;
    background-image: linear-gradient($shade7, $shade6);
    .control-width-inner {
        padding: 60px 0 100px 0;
        h1 {
            font-family: 'PT Sans', sans-serif;
            font-size: 2.4rem;
            font-weight: 700;
            margin: 0 0 20px 0;
        }
        h3 {
            font-family: 'PT Sans', sans-serif;
            font-size: 1rem;
            font-weight: 700;
            margin: 0 0 20px 0;
            color: $shade2;
        }
        #hero-signup-btn {
            background-color: lighten(#00B0FF, 12%);
            color: $white;
            -webkit-box-shadow: 0px 0px 25px 3px rgba(126,124,250,1);
            -moz-box-shadow: 0px 0px 25px 3px rgba(126,124,250,1);
            box-shadow: 0px 0px 25px 3px rgba(126,124,250,1);
            .feather-icon {
                background-color: lighten(#00B0FF, 20%);
            }
        }
    }
}

#home-intro {
    .control-width-inner {
        padding: 100px 0;
        h1 {
            font-family: 'PT Sans', sans-serif;
            font-size: 2.4rem;
            font-weight: 700;
            margin: 0 0 20px 0;
            color: #5B616A;
        }
        img {
            width: 100%;
            max-width: 300px;
            height: auto;
            border-radius: 3px;
            margin: 40px 0;
        }
        p {
            font-size: .9rem;
            color: lighten(#5B616A, 15%);
            font-family: 'PT Sans', serif;
            font-weight: 700;
        }
        #home-intro-btn {
            background-color: $shade7;
            color: $white;
            .feather-icon {
                background-color: lighten($shade7, 10%);
            }
        }
    }
}

/* about */

.article-wrapper {
    padding: 30px 0 60px 0;
}

.article-title {
    font-family: 'PT Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    margin: 50px 0 20px 0;
    color: #5B616A;
}

.article-para {
    font-size: 1rem;
    color: #5B616A;
    font-family: 'PT Serif', serif;
}

.article-quote {
    font-family: 'PT Serif', serif;
    font-size: 1rem;
    color: #5B616A;
    font-style: italic;
    margin-left: -20px;
    border-left: 3px solid #5B616A;
    padding-left: 20px;
}

/* contact */

.about-table {
    h1 {
        font-family: 'PT Sans', sans-serif;
        font-size: 2.4rem;
        font-weight: 700;
        margin: 0 0 20px 0;
        color: #5B616A;
    }
    padding: 80px 0;
    font-size: .9rem;
    color: #5B616A;
    .tt-title {
        font-weight: bold;
    }
}

/* signup & login & reset & update forms */

#signup .control-width-inner,
#login .control-width-inner,
#pass-reset .control-width-inner,
#update-profile .control-width-inner {
    padding: 80px 0;
    color: #5B616A;
    h1 {
        font-family: 'PT Sans', sans-serif;
        font-size: 2.4rem;
        font-weight: 700;
        margin: 0 0 20px 0;
        color: #5B616A;
    }
    p {
        font-size: .9rem;
    }
    label {
        margin-top: 10px;
        font-size: .8rem;
    }
    input {
        margin-top: -5px;
        margin-bottom: 10px;
    }
    .pass-reset-link {
        font-size: .8rem;
    }
    .remember-me {
        margin-top: -2px;
        margin-left: 5px;
        position: absolute;
    }
    .btn {
        display: block;
        width: 100%;
        margin-top: 20px;
        background-color: $shade7;
        border: 1px solid $shade7;
    }
}
