@import "settings";

#about-page-container {
    width: 100%;
    background-color: $white;
    padding: 0 0 40px 0;
    color: darken($tertiary-color, 20%);
    h3 {
        font-family: 'PT Sans', sans-serif;
        font-weight: 700;
        font-size: 1.7rem;
        padding: 0;
        margin: 40px 0 10px 0;
    }
    p {
        font-family: 'PT Sans', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        padding: 0;
        margin: 0 0 20px 0;
        a {
            color: inherit;
            text-decoration: underline;
        }
    }
    .ptc-quote {
        border-left: 3px solid darken($tertiary-color, 20%);
        padding-left: 17px;
        margin-left: -20px;
        font-style: italic;
        .qt-source {
            font-family: 'PT Sans', sans-serif;
            font-style: normal;
            font-weight: bold;
        }
    }
}
