@import "settings";

/* Home page */

#home-banner {
    width: 100%;
    .control-width {
        background-color: $accent;
        color: $white;
        padding: 1rem;
        text-align: center;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        .hb-am {
            font-size: 2.1rem;
        }
        .hb-en {

        }
    }
}

#hero {
    width: 100%;
    // background-color: lighten($secondary-color, 3%);

}



/* About page */

.custom-article-model1 {
    color: $primary-color;
    margin-top: -1rem;
    padding: 5rem 0;
    .section-divider {
        height: 3rem;
    }
    h1 {
        font-family: 'PT Sans', sans-serif;
        font-weight: 700;
    }
    p {
        color: $primary-color;
        font-size: 1.5rem;
        a {
            color: $accent;
            text-decoration: underline;
        }
    }
    .about-quote {
        font-style: italic;
    }
    .cam-side-nav {
        width: 100%;
        background-color: lighten($secondary-color, 3%);
        border-left: .1rem solid darken($secondary-color, 3%);
        padding: 3rem 0;
        h1 {
            font-family: 'Poppins', sans-serif;
            color: $accent;
            font-weight: 900;
            font-size: 2rem;
            padding: 0 2rem;
            margin-bottom: 2rem;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                display: block;
                a {
                    display: block;
                    width: 100%;
                    line-height: 3rem;
                    padding: 0 2rem;
                    font-size: 1.4rem;
                    font-weight: 600;
                    font-family: 'Poppins', sans-serif;
                    color: $primary-color;
                    text-decoration: none;
                    &:hover {
                        background-color: lighten($accent, 50%);
                        color: $primary-color;
                    }
                }
                .selected {
                    background-color: $accent;
                    color: $white;
                }
            }
        }
    }
}
