@import "bootstrap";
@import "custom";

// Universal

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    background-color: #FCFCFC;
}


// Temp content styles

#temp {
    width: calc(100% - 20px);
    max-width: 950px;
    margin: 0 auto;
    padding: 40px 0;
    font-family: 'Open Sans', sans-serif;
    h1 {
        font-size: 3.6rem;
        margin: 0;
        padding: 0;
        color: #424242;
        font-weight: 300;
    }
    h2 {
        font-size: 2rem;
        margin: 0;
        padding: 0;
        color: #9E9E9E;
        font-weight: 300;
    }
    @media screen and (max-width: 500px) {
        h1 {
            font-size: 2rem;
        }
        h2 {
            font-size: 1.5rem;
        }
    }
    .container {
        margin: 40px 0;
        padding: 0;
        overflow-x: hidden;
        color: #424242;
        .row {
            h3 {
                font-size: 1.7rem;
            }
            p {
                font-size: 1rem;
            }
            .quote {
                font-style: italic;
            }
        }
    }
    footer {
        padding: 30px 0;
        border-top: 1px solid #E0E0E0;
        text-align: center;
        color: #424242;
        font-size: .8rem;
        .bull {
            padding: 0 10px;
        }
    }
}
