/* Fonts: Source Sans Pro */

@font-face {
    font-family: 'Source Sans Pro';
    src: url("/assets/fonts/source-sans-pro/black.eot");
    src: url("/assets/fonts/source-sans-pro/black.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/source-sans-pro/black.woff") format("woff"),
         url('/assets/fonts/source-sans-pro/black.woff2') format('woff2'),
         url("/assets/fonts/source-sans-pro/black.ttf")  format("truetype"),
         url("/assets/fonts/source-sans-pro/black.svg#svgFontName") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("/assets/fonts/source-sans-pro/blackit.eot");
    src: url("/assets/fonts/source-sans-pro/blackit.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/source-sans-pro/blackit.woff") format("woff"),
         url('/assets/fonts/source-sans-pro/blackit.woff2') format('woff2'),
         url("/assets/fonts/source-sans-pro/blackit.ttf")  format("truetype"),
         url("/assets/fonts/source-sans-pro/blackit.svg#svgFontName") format("svg");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("/assets/fonts/source-sans-pro/bold.eot");
    src: url("/assets/fonts/source-sans-pro/bold.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/source-sans-pro/bold.woff") format("woff"),
         url('/assets/fonts/source-sans-pro/bold.woff2') format('woff2'),
         url("/assets/fonts/source-sans-pro/bold.ttf")  format("truetype"),
         url("/assets/fonts/source-sans-pro/bold.svg#svgFontName") format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("/assets/fonts/source-sans-pro/boldit.eot");
    src: url("/assets/fonts/source-sans-pro/boldit.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/source-sans-pro/boldit.woff") format("woff"),
         url('/assets/fonts/source-sans-pro/boldit.woff2') format('woff2'),
         url("/assets/fonts/source-sans-pro/boldit.ttf")  format("truetype"),
         url("/assets/fonts/source-sans-pro/boldit.svg#svgFontName") format("svg");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("/assets/fonts/source-sans-pro/extralight.eot");
    src: url("/assets/fonts/source-sans-pro/extralight.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/source-sans-pro/extralight.woff") format("woff"),
         url('/assets/fonts/source-sans-pro/extralight.woff2') format('woff2'),
         url("/assets/fonts/source-sans-pro/extralight.ttf")  format("truetype"),
         url("/assets/fonts/source-sans-pro/extralight.svg#svgFontName") format("svg");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("/assets/fonts/source-sans-pro/extralightit.eot");
    src: url("/assets/fonts/source-sans-pro/extralightit.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/source-sans-pro/extralightit.woff") format("woff"),
         url('/assets/fonts/source-sans-pro/extralightit.woff2') format('woff2'),
         url("/assets/fonts/source-sans-pro/extralightit.ttf")  format("truetype"),
         url("/assets/fonts/source-sans-pro/extralightit.svg#svgFontName") format("svg");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("/assets/fonts/source-sans-pro/it.eot");
    src: url("/assets/fonts/source-sans-pro/it.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/source-sans-pro/it.woff") format("woff"),
         url('/assets/fonts/source-sans-pro/it.woff2') format('woff2'),
         url("/assets/fonts/source-sans-pro/it.ttf")  format("truetype"),
         url("/assets/fonts/source-sans-pro/it.svg#svgFontName") format("svg");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("/assets/fonts/source-sans-pro/light.eot");
    src: url("/assets/fonts/source-sans-pro/light.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/source-sans-pro/light.woff") format("woff"),
         url('/assets/fonts/source-sans-pro/light.woff2') format('woff2'),
         url("/assets/fonts/source-sans-pro/light.ttf")  format("truetype"),
         url("/assets/fonts/source-sans-pro/light.svg#svgFontName") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("/assets/fonts/source-sans-pro/lightit.eot");
    src: url("/assets/fonts/source-sans-pro/lightit.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/source-sans-pro/lightit.woff") format("woff"),
         url('/assets/fonts/source-sans-pro/lightit.woff2') format('woff2'),
         url("/assets/fonts/source-sans-pro/lightit.ttf")  format("truetype"),
         url("/assets/fonts/source-sans-pro/lightit.svg#svgFontName") format("svg");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("/assets/fonts/source-sans-pro/regular.eot");
    src: url("/assets/fonts/source-sans-pro/regular.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/source-sans-pro/regular.woff") format("woff"),
         url('/assets/fonts/source-sans-pro/regular.woff2') format('woff2'),
         url("/assets/fonts/source-sans-pro/regular.ttf")  format("truetype"),
         url("/assets/fonts/source-sans-pro/regular.svg#svgFontName") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("/assets/fonts/source-sans-pro/semibold.eot");
    src: url("/assets/fonts/source-sans-pro/semibold.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/source-sans-pro/semibold.woff") format("woff"),
         url('/assets/fonts/source-sans-pro/semibold.woff2') format('woff2'),
         url("/assets/fonts/source-sans-pro/semibold.ttf")  format("truetype"),
         url("/assets/fonts/source-sans-pro/semibold.svg#svgFontName") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("/assets/fonts/source-sans-pro/semiboldit.eot");
    src: url("/assets/fonts/source-sans-pro/semiboldit.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/source-sans-pro/semiboldit.woff") format("woff"),
         url('/assets/fonts/source-sans-pro/semiboldit.woff2') format('woff2'),
         url("/assets/fonts/source-sans-pro/semiboldit.ttf")  format("truetype"),
         url("/assets/fonts/source-sans-pro/semiboldit.svg#svgFontName") format("svg");
    font-weight: 500;
    font-style: italic;
}
