/* Universal */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/fonts/source-sans-pro/font.css";
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    background-color: #f6f7f8;

    min-height: 200vh;
}


/* COLORS HEX ===
darker (bright): #823DD0
darker (dull): #41405D
lighter: #EBECF6, #F3F4FC

border-top: 1px solid #EEEEEE;
*/
